<!DOCTYPE html>
<html>
{% include head.html %}

<body>
		<h1 class="title">{{ site.title }}</h1>
		{% include header.html %}
		<main>
			<div class="social">
				<p><a href="mailto:{{ site.email }}" class="social">{{ site.email }}</a></p>
				<a href="{{ site.github }}" class="social"><img src="/_images/github.png" title="Github" class="social"></a>
				<a href="{{ site.linkedin }}" class="social"><img src="/_images/linkedin.png" title="LinkedIn" class="social"></a>
				<a href="{{ site.resume }}" class="social"><img src="/_images/resume.png" title="Resume" class="social"></a>
				<a href="mailto:{{ site.email }}" class="social"><img src="/_images/email.png" title="Email" class="social"></a>
			</div>
			<article>
				{{ content }}
			</article>
			{% include footer.html %}
		</main>
</body>

</html>
